
*{
    
    font-size: 110%;
    mix-blend-mode:darken;
}
body{
    background-image: url(colorful-2174045.png);
    background-size: auto;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 255);
    mix-blend-mode: multiply;
    
}

h1,h3{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
figure{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-style: italic;
    font-weight: bold;
}
h1{
    text-align-last: center;
    font-size: 120%;
}
#info1{
    margin-bottom: 0%;
    
}
.main-data{
    margin: 3em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

}
.main-nav li{
    display: inline-block;
    align-self: center;
    text-decoration: none;
    margin:0em;
    margin-left: 1.25em;
    margin-right: .5em;
    padding: .25em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

    
}
.main-nav li:hover{
    background-color: rgba(9, 9, 9, 0.127);
    cursor:pointer;
    background-blend-mode: multiply;
    
   

}
.main-head{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    text-emphasis: none;
    font-size: 150%;
    margin: 1em;
    padding: .5em;
    background-color:black;
    color: lightgray;
    border-top: 1em;
    border-bottom: 1em;
    border-left: 1em;
    border-right: 1em;
}
.info{
    background-color: rgba(9, 9, 9, 0.127);
    padding: .5em;
    margin:1em;
    padding-left: 1em;
    padding-bottom: .9em;
    max-width: 25%;
    margin-left: 3em;
    border-width:.1em;
    border-color:black;
    border-style: solid;
}
.sub-head{
    margin-left: 5em;
    margin-top: 1em;
    font-weight:unset;
    font-size: 1.5em;
    
}
.home-nav{
    margin: 3em;
    display: block;
    z-index:1;
    width: 16em;
    margin-top: 1em;
}
.home-nav li{
    margin: 2em;
    display: block;
    z-index:1;
    margin: 1em;
    padding: 0.25em;   
}

@keyframes highlight {
    from {
      background-position: 0em;
    }

    to {
      background-position:9.5em;
    }
}

.home-nav li:hover{
    cursor: pointer;
    animation-name: highlight;
    animation-duration: 0.75s;
    animation-fill-mode:forwards;
    background-size:100%;
    background-image: linear-gradient(to left, rgba(9, 9, 9, 0.127), transparent 100%);
}
.home-info-nav{
    display: flex;
    overflow: hidden;
}
.home-info-nav > .home-inf > .info{
    margin-top: 4em;
    width: 40em;
    height:5.5em;
    margin-left: 15em;
    
}
.home-nav > ul{
    width: 12.7em;
}
.desc-list>dd,.desc-list>dt{
    margin: .5em;
}
.desc-list>dt{
    font-weight: bold;
    margin-bottom: 0em;
}
.desc-list>dd{
    font-size: .8em;
    margin-left: 2em;
}
.q-head{
    font-size: 1.5em;
}
